{% extends 'base.html' %}
{% block title %}Home{% endblock %}
<body>
{% block menu %}
    <a href="{% url 'article_add' %}">Add New Line</a>
{% endblock %}
{% block content %}
{#    {% block menu %}#}
{#        <a href="{% url 'article_add' %}">Add New Line</a>#}
{#    {% endblock %}#}
    <h1>TO DO list</h1>
    {% for article in articles %}
        <h2>{{ article.title }}</h2>
        <p>Detailed description: {{ article.text }}</p>
        <p>
            <a href="{% url 'article_detail' article.pk %}">More...</a>
        </p>
    {% endfor %}
{% endblock %}
